<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">News</h3>
	</div>

<!-- notice -->
	<div class="list-group-item">
		<h4>Recent Dues</h4>
		<p><code>12 Dec 2016</code> <a href="{{ site.baseurl }}/assets/doc/2016-11-07-appendix-2.docx" target="_blank">Scale Model Description</a>, 5 Renderings</p>
		<p><code>16 Dec 2016</code> Health and Safety Plan</p>
		<p><code>31 Dec 2016</code> Scale Model</p>
		<p><a href="{{ site.baseurl }}/updates/2016/09/14/deliverables-due-date.html">Deliverable Due Dates</a> list is updated periodically.</p>
	</div>

<!-- news -->
	{% for post in site.categories.news limit:5 %}
	<div class="list-group-item">
		<p class="gray">{{ post.date | date_to_string }}</p>
		<p>{{ post.content }}</p>
		{% if post.img %}
		<a href="{{ site.baseurl }}/assets/img/news/{{ post.img }}_.jpg" target="_blank"><img src="{{ site.baseurl }}/assets/img/news/{{ post.img }}.jpg" class="img-thumbnail"></a>
		{% endif %}
	</div>
	{% endfor %}
</div>


<!--============================ Contact ===================================-->
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Contact</h3>
	</div>

	<div class="list-group-item center">
		<a class="btn btn-sm btn-success" href="mailto:support@sdchina.org.cn">support@sdchina.org.cn</a>
	</div>

	<div class="list-group-item">
		<strong>Yvonne Li</strong>, Team Manager<br>
		Email: <a href="mailto:yvonne.li@sdchina.org.cn">yvonne.li@sdchina.org.cn</a>
	</div>
</div>