<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">News</h3>
	</div>

	
	{% for post in site.categories.news limit:5 %}
	<div class="list-group-item">
		<span class="gray">{{ post.date | date_to_string }}</span>
		<p>
			{{ post.content | strip_html | truncatewords:50 }}
			<a href="{{ site.baseurl }}{{ post.url }}">More ›</a>
		</p>
		{% if post.img %}
		<img src="{{ site.baseurl }}/assets/img/news/{{ post.img }}" width="100%">
		{% endif %}
	</div>
	{% endfor %}
</div>


<!--============================ Contact ===================================-->
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Contact</h3>
	</div>

	<div class="list-group-item center">
		<a class="btn btn-sm btn-success" href="mailto:support@sdchina.org.cn">support@sdchina.org.cn</a>
	</div>

	<div class="list-group-item">
		<strong>Yvonne Li</strong>, Team Manager<br>
		Email: <a href="mailto:yvonne.li@sdchina.org.cn">yvonne.li@sdchina.org.cn</a><br>
	</div>

	<div class="list-group-item">
		<strong>Lucas Li</strong>, Competition Manager<br>
		Email: <a href="mailto:lucas.li@sdchina.org.cn">lucas.li@sdchina.org.cn</a><br>
		Website: <a href="http://lucasli.online" target="_blank">http://lucasli.online</a>
	</div>
</div>


<!--============================= Follow Us ================================-->
<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">Follow Us</h3>
	</div>

	<div class="list-group-item center">
		<a class="btn btn-xs btn-default" href="http://www.sdchina.org.cn/english" target="_blank">{% include icons/web.html %} SD China</a>
		<a class="btn btn-xs btn-default" href="https://www.facebook.com/sdc2017/" target="_blank">{% include icons/facebook.html %} Facebook</a>
		<a class="btn btn-xs btn-default" href="http://weibo.com/u/2902066925?topnav=1&wvr=6&topsug=1&is_all=1" target="_blank">{% include icons/weibo.html %} Weibo</a>
	</div>
</div>