---
layout: default
---

<div class="list-group">
	<div class="list-group-item active">
		<h3 class="panel-title">{{ page.title }}</h3>
	</div>

	<div class="list-group-item">
		{{ content }}
	</div>

	<div class="list-group-item">
		<select>
			<option>Architecture</option>
			<option>Market Appeal</option>
			<option>Engineering</option>
			<option>Communications</option>
			<option>Innovation</option>
			<option>Comfort Zone</option>
			<option>Appliances</option>
			<option>Home Life</option>
			<option>Commuting</option>
			<option>Energy Performance</option>
		</select>
	</div>
</div>
