---
layout: default
---

<div class="list-group">
	<div class="list-group-item">
		<span class="gray">{{ page.date | date_to_string }}</span>
		<h4>{{ page.title }}</h4>
		<p>{% include html/post_tags.html %}</p>
	</div>
	
	<div class="list-group-item active">
		{{ content }}
	</div>

	<div class="list-group-item">
		{% include html/pages.html %}
	</div>

	<div class="list-group-item">
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
		<!-- UY END -->
	</div>
</div>